body {
	background-color: #f8bbd0;
}
fieldset {
    border: 1px solid black;
    padding: 1em;
}

#ref2 {
    display: none;
}

#ref3 {
    display: none;
}
#ref4 {
    display: none;
}
#ref5 {
    display: none;
}
.header {
    font-family: Trattatello, fantasy;
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 2px lightgray;
}
h5, .subref {
    font-family: Impact, fantasy;
    font-weight: bold;
    text-align: center;
}